.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.temperature {
  fill: none;
  stroke: #f1b423;
  stroke-width: 1.5px;
}

.hygrometrie {
  fill: none;
  stroke: #2b76b5;
  stroke-width: 1.5px;
}

.area {
  fill: steelblue;
}

.mainGraph
{
    border: solid 1px black;
}